force-app/main/default/flows/BizDevPopulate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Biz_Dev_equals_to_lead_owner</name>
        <label>Biz Dev equals to lead  owner</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Biz_Dev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameUserBizDev</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_the_lead_owner_a_bizdev</name>
        <label>Is the lead owner a bizdev?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_the_lead_owner_a_bizdev_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Biz Dev</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Biz_Dev_equals_to_lead_owner</targetReference>
            </connector>
            <label>Is the lead owner a bizdev?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NameUserBizDev</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.FirstName} +  &quot; &quot; + {!$Record.Owner:User.LastName}</expression>
    </formulas>
    <interviewLabel>BizDevPopulate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BizDevPopulate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_the_lead_owner_a_bizdev</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
