force-app/main/default/flows/Case_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Counts_1_when_the_assignment_is_from_general_queue_to_an_user</name>
        <label>Counts 1 when the  assignment  is from general queue to an user</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assigned_Count__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Days_assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Days_assign</name>
        <label>Days until assign</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assigned_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>queueStart</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G</stringValue>
        </value>
    </constants>
    <constants>
        <name>UserStart</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_it_the_first_assignment_to_an_user_from_general_queue</name>
        <label>Is it the first assignment to an user from general queue ?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_it_the_first_assignment_to_an_user_from_a_general_queue_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>UserStart</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>queueStart</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Counts_1_when_the_assignment_is_from_general_queue_to_an_user</targetReference>
            </connector>
            <label>Is it  the first assignment to an user from a general queue ?</label>
        </rules>
    </decisions>
    <description>How long sat in general queue until assigned to someone</description>
    <environments>Default</environments>
    <formulas>
        <name>Days</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDateTime}- {!$Record.CreatedDate}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Assign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>How long sat in general queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_it_the_first_assignment_to_an_user_from_general_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Assigned_Count__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
