force-app/main/default/flows/CaseGeneralHolidayManagementOnBefore.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>This action will replace the value in Case field with Holiday Message to be used in Email Alert.</description>
        <name>AssignEmailNotificationMessage</name>
        <label>Assign Email Notification Message</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.EmailNotificationMessage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetHolidayDate.HolidayMessage__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>This action will check if some Holiday Management record was retrieved from previous Get Records.</description>
        <name>CheckHolidayManagementRecord</name>
        <label>Check Holiday Management Record</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsPartOfHoliday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetHolidayDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEmailNotificationMessage</targetReference>
            </connector>
            <label>Is Part of Holiday?</label>
        </rules>
    </decisions>
    <description>Flow used to handle case creation in Holiday date.</description>
    <environments>Default</environments>
    <interviewLabel>Case - General - Holiday Management on Before {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - General - Holiday Management on Before</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This action will get the first Holiday Management record based on the interval of start and end dates.</description>
        <name>GetHolidayDate</name>
        <label>Get Holiday Date</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckHolidayManagementRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HolidayManagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetHolidayDate</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &apos;General&apos;</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
