force-app/main/default/flows/Case_Workflow_Notification_TS_Case_Field_Product_Quality_Issue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_By_Email</name>
        <label>Notify By Email</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>GetEmailsFromCaseFieldProductQualityGroup.recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>TS Case notification for Field Product Quality Issue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>CaseLInk</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!recordId}</expression>
    </formulas>
    <interviewLabel>Case Workflow - Notification - TS Case - CSAT Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Workflow - Notification - TS - Field Product Quality Issue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetEmailsFromCaseFieldProductQualityGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0127V000000US3OQAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>Technical_Support_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Field Product Quality</stringValue>
            </value>
        </filters>
        <filters>
            <field>Technical_Support_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>This Subflow is called to get list of emails from Members of Case Field Product Quality Group to be used in Email Notification.</description>
        <name>GetEmailsFromCaseFieldProductQualityGroup</name>
        <label>Get Emails from Case Field Product Quality Group</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Notify_By_Email</targetReference>
        </connector>
        <flowName>EmailHandlerGetEmailsFromGroupMembers</flowName>
        <inputAssignments>
            <name>pubGroupDevName</name>
            <value>
                <stringValue>Case_Field_Product_Quality_Group</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>Email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Please be advised a TS Case has been assigned to Field Product Quality category.&amp;nbsp;Contact TS Manager for additional details.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Case #: {!$Record.CaseNumber}&lt;/p&gt;&lt;p&gt;Company:&amp;nbsp;{!$Record.Account.Name}&lt;/p&gt;&lt;p&gt;Subject:&amp;nbsp;{!$Record.Subject}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!CaseLInk}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Case Link &lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
</Flow>
