force-app/main/default/flows/Case_Workflow_Notification_General_Status_Waiting_onCustomer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>General_Case_Waiting_for_Customer_3_days</name>
        <label>General Case Waiting for Customer 3  days</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <actionName>Case.General_Case_Waiting_for_Customer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.General_Case_Waiting_for_Customer</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>General_Case_Waiting_for_Customer_6_days</name>
        <label>General Case Waiting for Customer 6  days</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <actionName>Case.General_Case_Waiting_for_Customer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.General_Case_Waiting_for_Customer</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>General_Case_Waiting_for_Customer_9_days</name>
        <label>General Case Waiting for Customer 9  days</label>
        <locationX>578</locationX>
        <locationY>288</locationY>
        <actionName>Case.General_Case_Waiting_for_Customer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.General_Case_Waiting_for_Customer</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>General_Case_Waiting_for_Customer_FINAL_MESSAGE</name>
        <label>General Case Waiting for Customer FINAL MESSAGE</label>
        <locationX>842</locationX>
        <locationY>288</locationY>
        <actionName>Case.General_Case_Waiting_for_Customer_FINAL_MESSAGE</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.General_Case_Waiting_for_Customer_FINAL_MESSAGE</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case Workflow - Notification - General - Status - Waiting on Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Workflow - Notification - General - Status - Waiting on Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>change_status_to_close</name>
        <label>change status to close</label>
        <locationX>1106</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting on Customer</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Notification_after_6_days</name>
            <connector>
                <targetReference>General_Case_Waiting_for_Customer_6_days</targetReference>
            </connector>
            <label>Notification after 6 days</label>
            <offsetNumber>6</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Notification_after_3_days</name>
            <connector>
                <targetReference>General_Case_Waiting_for_Customer_3_days</targetReference>
            </connector>
            <label>Notification after 3 days</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Notification_after_9_days</name>
            <connector>
                <targetReference>General_Case_Waiting_for_Customer_9_days</targetReference>
            </connector>
            <label>Notification after 9 days</label>
            <offsetNumber>9</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Final_Notification_after_11_days</name>
            <connector>
                <targetReference>General_Case_Waiting_for_Customer_FINAL_MESSAGE</targetReference>
            </connector>
            <label>Final Notification after 11 days</label>
            <offsetNumber>11</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Status_change_after_13_days</name>
            <connector>
                <targetReference>change_status_to_close</targetReference>
            </connector>
            <label>Status change after 13 days</label>
            <offsetNumber>13</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
