force-app/main/default/flows/FindProductFamilyFromProductLines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Porduct_Family_Found_as_True</name>
        <label>Set Porduct Family Found as True</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ProductFamilyFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckProductFamily</name>
        <label>CheckProductFamilyOppLine</label>
        <locationX>396</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>IterateOverOppLineIt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Family_was_find</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IterateOverOppLineIt.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CABLES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverOppLineIt.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Controls</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverOppLineIt.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LUMINAIRE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverOppLineIt.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MHW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverOppLineIt.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPTICS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverOppLineIt.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POWERSUPLY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverOppLineIt.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSU2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverOppLineIt.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RAY1.0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverOppLineIt.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RAZR2.0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverOppLineIt.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SPYDR2.0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverOppLineIt.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STINGRAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverOppLineIt.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VYPR2.0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverOppLineIt.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VYPR3.0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverOppLineIt.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Whisper</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverOppLineIt.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Whisper 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Porduct_Family_Found_as_True</targetReference>
            </connector>
            <label>Product Family was find</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FindProductFamilyFromProductLines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FindProductFamilyFromOppLines</label>
    <loops>
        <name>IterateOverOppLineIt</name>
        <label>IterateOverOppLineItems</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>GetOpportunityLIneItens</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckProductFamily</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetOpportunityLIneItens</name>
        <label>GetOpportunityLIneItens</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOverOppLineIt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunityLIneItens</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountLineFamily</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ProductFamilyFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
