force-app/main/default/flows/OppLineItemAfterInsertTriggerCopyValuesFromQuoteLineItem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>This flow is used to update opportunity line item based on quote line item related to synced quote.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity Product - After Insert Trigger - Copy values from Quote Line Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product - After Insert Trigger - Copy values from Quote Line Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Quote_Line_Item</name>
        <label>Get Quote Line Item</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateTriggeredOpportunityProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Hierarchy__c</queriedFields>
        <queriedFields>Item_SAP_Item_n__c</queriedFields>
        <queriedFields>Material__c</queriedFields>
        <queriedFields>Sales_Unit__c</queriedFields>
        <queriedFields>RCC__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTriggeredOpportunityProduct</name>
        <label>Update Triggered Opportunity Product</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Item_SAP_Item_n__c</field>
            <value>
                <elementReference>Get_Quote_Line_Item.Item_SAP_Item_n__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Material__c</field>
            <value>
                <elementReference>Get_Quote_Line_Item.Material__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Hierarchy__c</field>
            <value>
                <elementReference>Get_Quote_Line_Item.Product_Hierarchy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RCC__c</field>
            <value>
                <elementReference>Get_Quote_Line_Item.RCC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Unit__c</field>
            <value>
                <elementReference>Get_Quote_Line_Item.Sales_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Line_Item</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_FilterQuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
