force-app/main/default/flows/OpportunityAfterTriggerSetCloseDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>This action checks if already exist bypass configuration for current user.</description>
        <name>CheckBypass</name>
        <label>Check Bypass</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>CreateBypass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not have Bypass record</defaultConnectorLabel>
        <rules>
            <name>HasOpportunityValidationRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetBypass</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetBypass.Opportunity_Validation_Rule__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCloseDate1</targetReference>
            </connector>
            <label>Has Opportunity Validation Rule?</label>
        </rules>
        <rules>
            <name>HasntOpportunityValidationRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetBypass</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetBypass.Opportunity_Validation_Rule__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateBypass1</targetReference>
            </connector>
            <label>Hasn&apos;t Opportunity Validation Rule?</label>
        </rules>
    </decisions>
    <description>This flow is used to update CloseDate field.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - After Trigger - Set Close Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - After Trigger - Set Close Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create bypass configuration to bypass validation rule related to closed opportunities.</description>
        <name>CreateBypass</name>
        <label>Create Bypass</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignRecordIdToReference>bypassRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateCloseDate3</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity_Validation_Rule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SetupOwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Bypass_Configuration__c</object>
    </recordCreates>
    <recordDeletes>
        <description>Delete bypass configuration to bypass validation rule related to closed opportunities.</description>
        <name>DeleteBypass</name>
        <label>Delete Bypass</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bypassRecordId</elementReference>
            </value>
        </filters>
        <object>Bypass_Configuration__c</object>
    </recordDeletes>
    <recordLookups>
        <description>This action will try to get Bypass Configuration record related to the current user.</description>
        <name>GetBypass</name>
        <label>Get Bypass</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckBypass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bypass_Configuration__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity_Validation_Rule__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update bypass configuration record with old value.</description>
        <name>UpdateBypass</name>
        <label>Update Bypass</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetBypass.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Validation_Rule__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Bypass_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update bypass configuration to bypass validation rule related to closed opportunities.</description>
        <name>UpdateBypass1</name>
        <label>Update Bypass</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>UpdateCloseDate2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetBypass.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Validation_Rule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Bypass_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This action will update Close Date field with TODAY date.</description>
        <name>UpdateCloseDate1</name>
        <label>Update Close Date</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This action will update Close Date field with TODAY date.</description>
        <name>UpdateCloseDate2</name>
        <label>Update Close Date</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>UpdateBypass</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This action will update Close Date field with TODAY date.</description>
        <name>UpdateCloseDate3</name>
        <label>Update Close Date</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>DeleteBypass</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetBypass</targetReference>
        </connector>
        <filterFormula>AND(
          ISCHANGED({!$Record.IsClosed}),
          {!$Record.IsClosed},
          {!$Record.CloseDate} &lt; TODAY()
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores Bypass Configuration record Id.</description>
        <name>bypassRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
