force-app/main/default/flows/Opportunity_Workflow_Update_Field_Assigning_Price_Books.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <constants>
        <name>Agriestufa</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0015e00000Noi6dAAB</stringValue>
        </value>
    </constants>
    <constants>
        <name>AmericasSystemsIntegratorPriceBook</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01s5e00000D8P4IAAV</stringValue>
        </value>
    </constants>
    <constants>
        <name>ANZWholesalerPriceBook</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01s5e00000D8P4VAAV</stringValue>
        </value>
    </constants>
    <constants>
        <name>APACSystemsIntegratorPriceBook</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01s5e00000D8P4UAAV</stringValue>
        </value>
    </constants>
    <constants>
        <name>BFGSupplyCo</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0015e00000Noi91AAB</stringValue>
        </value>
    </constants>
    <constants>
        <name>Conviron</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0015e00000NoiCRAAZ</stringValue>
        </value>
    </constants>
    <constants>
        <name>DomeGardenSupplies</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0015e00000NoiDXAAZ</stringValue>
        </value>
    </constants>
    <constants>
        <name>GrowRebatesLightningGrownLLC</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0017V00001ZhbumQAB</stringValue>
        </value>
    </constants>
    <constants>
        <name>Hydrofarm</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0015e00000oHyLgAAK</stringValue>
        </value>
    </constants>
    <constants>
        <name>NAWholesalerPriceBook</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01s5e00000D8P4JAAV</stringValue>
        </value>
    </constants>
    <constants>
        <name>NEZGrow</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0015e00000hSE66AAG</stringValue>
        </value>
    </constants>
    <constants>
        <name>QualityWholesaleLTD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0015e00000NoiQhAAJ</stringValue>
        </value>
    </constants>
    <constants>
        <name>SescoLighting</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0015e00000d3iaiAAA</stringValue>
        </value>
    </constants>
    <constants>
        <name>UrbanGroInc</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0015e00000Nois6AAB</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Assign_Pricebook</name>
        <label>Assign Pricebook</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Americas_System_Integrator_Price_Book</name>
            <conditionLogic>((1 OR 2 )AND 3 AND 4 AND 5) OR ((6 OR 7 OR 8 OR 9 OR 10 OR 11 ) AND 12 AND 13 AND 14  )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reseller__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Agriestufa</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reseller__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Conviron</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Market__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Produce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas-NA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Integrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reseller__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BFGSupplyCo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reseller__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NEZGrow</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reseller__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GrowRebatesLightningGrownLLC</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reseller__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QualityWholesaleLTD</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reseller__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SescoLighting</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reseller__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UrbanGroInc</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas-NA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Market__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannabis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Integrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PricebookId</targetReference>
            </connector>
            <label>Americas System Integrator Price Book</label>
        </rules>
        <rules>
            <name>NA_Wholesaler_Price_Book</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reseller__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BFGSupplyCo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reseller__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Hydrofarm</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reseller__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QualityWholesaleLTD</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Market__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannabis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wholesaler/Distributor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas-NA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PricebookId_0</targetReference>
            </connector>
            <label>NA Wholesaler Price Book</label>
        </rules>
        <rules>
            <name>APAC_System_Integrator_Price_Book</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reseller__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Conviron</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Market__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannabis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Integrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PricebookId_2</targetReference>
            </connector>
            <label>APAC System Integrator Price Book</label>
        </rules>
        <rules>
            <name>ANZ_Wholesaler_Price_Book</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reseller__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DomeGardenSupplies</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Market__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannabis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wholesaler/Distributor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PricebookId_1</targetReference>
            </connector>
            <label>ANZ Wholesaler Price Book</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Workflow - Update Field - Assigning Price Books {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Workflow - Update Field - Assigning Price Books</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_PricebookId</name>
        <label>Update PricebookId</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>AmericasSystemsIntegratorPriceBook</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PricebookId_0</name>
        <label>Update PricebookId</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>NAWholesalerPriceBook</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PricebookId_1</name>
        <label>Update PricebookId</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>ANZWholesalerPriceBook</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PricebookId_2</name>
        <label>Update PricebookId</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>APACSystemsIntegratorPriceBook</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Pricebook</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
