force-app/main/default/flows/Time_to_Resolve_by_General_Case_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>DaysFromNewToClosed</name>
        <label>DaysFromNewToClosed</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Days_To_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountDaysFromNew</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>DaysFromNewToClosedCustomer</name>
        <label>DaysFromNewToClosedCustomer</label>
        <locationX>1634</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Days_Closed_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountDaysFromNew</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>DaysFromNewToResolved</name>
        <label>DaysFromNewToResolved</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Days_to_Resolved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountDaysFromNew</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>DaysFromOpenToClosed</name>
        <label>DaysFromOpenToClosed</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Days_To_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountDaysFromOpen</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>DaysFromOpenToClosedToCustomer</name>
        <label>DaysFromOpenToClosedToCustomer</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Days_Closed_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountDaysFromOpen</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>DaysFromOpenToResolved</name>
        <label>DaysFromOpenToResolved</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Days_to_Resolved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountDaysFromOpen</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Days Since case was created</description>
        <name>Total_Days</name>
        <label>Total Days</label>
        <locationX>974</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>$Record.Total_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountDaysFromNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reopen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Status</name>
        <label>Status</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DaysFromOpenToResolved</targetReference>
            </connector>
            <label>Resolved</label>
        </rules>
        <rules>
            <name>Copy_1_of_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DaysFromOpenToClosed</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Copy_1_of_Closed_to_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed to Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DaysFromOpenToClosedToCustomer</targetReference>
            </connector>
            <label>Closed to Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reopen</name>
        <label>Reopen?</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Reopen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>1502</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DaysFromNewToResolved</targetReference>
            </connector>
            <label>Resolved</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DaysFromNewToClosed</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Closed_to_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed to Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DaysFromNewToClosedCustomer</targetReference>
            </connector>
            <label>Closed to Customer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CountDaysFromNew</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDateTime}- {!$Record.CreatedDate}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CountDaysFromOpen</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDateTime}- {!$Record.Reopen_Date__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Time to Resolve by General Case Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Time to Resolve by General Case Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Total_Days</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1900</triggerOrder>
</Flow>
