force-app/main/default/flows/Update_Quotes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Quote_Field</name>
        <label>Assign Quote Field</label>
        <locationX>940</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>All_Quote_Records.Customer_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_To_Customer_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Payment_Terms</name>
        <label>Update Payment Terms</label>
        <locationX>801</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>All_Quote_Records.Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Payment_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_To_Customer_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Need_to_update_quote</name>
        <label>Need to update quote?</label>
        <locationX>525</locationX>
        <locationY>164</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Promote_to_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Quote_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promote to Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quote_Field</targetReference>
            </connector>
            <label>Quote Promote to Order</label>
        </rules>
        <rules>
            <name>Payment_terms_was_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Payment_Terms__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>All_Quote_Records.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Promote to Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>All_Quote_Records.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payment_Terms</targetReference>
            </connector>
            <label>Payment terms was set</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Quotes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Quotes</label>
    <loops>
        <name>All_Quote_Records</name>
        <label>All Quote Records</label>
        <locationX>460</locationX>
        <locationY>289</locationY>
        <collectionReference>Get_Quote_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Need_to_update_quote</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>130</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Records</name>
        <label>Get Quote Records</label>
        <locationX>295</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Quote_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_To_Customer_Account</name>
        <label>Update Quote To Customer Account</label>
        <locationX>941</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>All_Quote_Records</targetReference>
        </connector>
        <inputReference>All_Quote_Records</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>QuoteRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
